<div>
    <span>@FooterTemplateData.TodoItemCount Active Count</span>
    <span><button @onclick="@(() => OnTodoFilterClickedHandler("All"))">All</button></span>
    <span><button @onclick="@(() => OnTodoFilterClickedHandler("Active"))">Active</button></span>
    <span><button @onclick="@(() => OnTodoFilterClickedHandler("Completed"))">Completed</button></span>
    <span><button @onclick="@(() => OnTodoFilterClickedHandler("Remove"))">Remove Completed</button></span>
</div>